## 1. comments {single line and multi line)

In [1]:
def add():
    #entering a value
    a=int(input('enter a value'))
    #enter b value
    b=int(input('enter b value'))
    # adding a and b
    sum=a+b
    return sum
"""whole program is about
adding of a and b
and returning sum """
add()

enter a value1
enter b value2

3

# 2.Variables

In [5]:
a=10
a123=100
_abc=234
print(a)
print(_abc)
print(a123)

10
234
100

In [3]:
a123=10
print(a123)

10

1. local variable

In [3]:
def add():
    a=10
    b=20
    sum=a+b
    return sum
add()

30

2.global variable

In [4]:
a='awesome'
def add():
    b='python is '
    c=b+a
    return c
add()

'python is awesome'

we can execute two variables(local and global) in a program

In [5]:
a='awesome'
def add():
    a='fantastic'
    b='python is '
    c=b+a
    print(c)
add()
print('python is '+a)

python is fantastic
python is awesome

to create a global variable inside a function , use global keyword

In [6]:
def add():
    global x
    x='fantstic'
add()
print('python is '+x)

python is fantstic

3.static variable(class variable)
4.instance variable(non static)

In [7]:
class A:
    x=10                   # static variable
    def display(self):
        y=100              # instance variable
        print(y)
object=A()
object.display()
print(A.x)

100
10

In [3]:
x=lambda a,b,c:a+b*c
print(x(2,3,4))

14

# PYTHON STRINGS

In [8]:
a='hello world! How are you?'         # single line strings
a

'hello world! How are you?'

In [9]:
a="""hello world!,                
this is sunil,
who are you?,
why did you come here?"""
print(a)                              # multi line strings

hello world!,
this is sunil,
who are you?,
why did you come here?

strings are arrays

In [10]:
a='hello world!'
a[1]

'e'

In [11]:
for x in 'hello':         # looping in strings
    print(x)

h
e
l
l
o

In [12]:
z='Sunil'          # length of string
len(z)

5

In [13]:
a="""hello world!,                  
this is sunil,
who are you?,
why did you come here?"""
print('this' in a)               #to check whether a word is present or not in a string.

True

In [14]:
a="""hello world!,                
this is sunil,
who are you?,
why did you come here?"""
print('this' not in a)       # to check whether a word is present or not in a string.

False

In [15]:
a='hELlO'
print(a.lower())
print(a.upper())

hello
HELLO

In [16]:
a='hELlO'
a.replace('h','J')     # replace a character

'JELlO'

In [17]:
a='hello'
b='world!'
c=a+"  "+b    # concatenating two strings
print(c)

hello  world!

In [18]:
age=36
mobile=7995542002
a='my name is sunil and i am {} years old and my mobile number is {}.'   # format() used to concatenate string and number.
print(a.format(age,mobile))

my name is sunil and i am 36 years old and my mobile number is 7995542002.

reversing a string

In [1]:
a='hello world!'
b=a[::-1]
b

'!dlrow olleh'

## BOOLEANS

In [19]:
print(10>2)
print(10<2)
print(bool(1))
print(bool(15))
print(bool(x))

True
False
True
True
True

In [20]:
print(bool(0))
print(bool(None))
print(bool({}))

False
False
False

## OPERATORS [AACLIMB]

1.arithemetic(+,-,*,/,%,//)

In [21]:
a=10
b=20
c=a+b
c

30

In [22]:
a=10
b=3
c=a/b
d=a%b
e=a//b
(c,  d,   e)

(3.3333333333333335, 1, 3)

2.assignment(=,<<=,>>=,!=)

In [23]:
a=10
if a==10:
    print('true')
else:
    print('false')

true

3.relational or comparative operator(>=,<=,!=,==)

In [24]:
a=10
if a==10:
    print('true')
else:
    print('false')

true

4.logical(and or nor)

In [25]:
x=15
a=10
b=20
print(x<a and x>b)          # { t  t   t} a and b is T, then a AND b is T.

False

In [26]:
x=15
a=10
b=20
print(x<a or x>b)  # if a or b, any one is T, then a OR b is T.

False

In [27]:
x=15
a=10
b=20
print(x<a or x>b)
print(not(x<a or x>b))   # nor is used as not...before or or and.

False
True

5. identity operator (is, is not)

In [28]:
x=4
y=6
print(x is y)

False

In [29]:
x=4
y=6
print(x is not y)

True

6. membership (in, not in)

In [30]:
x=['a','b','c','d']
print('a' in x)

True

In [31]:
print('a' not in x)

False

7.Bitwise (&, |, ^) (and or xor)

## LIST

In [32]:
a=[1,2,3,4,'s','u']
for x in a:
    print(x)

1
2
3
4
s
u

In [33]:
a[2]

3

In [34]:
a[-1]

'u'

In [35]:
a[2:5]

[3, 4, 's']

In [36]:
a

[1, 2, 3, 4, 's', 'u']

In [37]:
a[2]

3

In [38]:
a[2]=100 #changing item value
a

[1, 2, 100, 4, 's', 'u']

adding of list

In [39]:
a.append('sunil') # adding elements to list
a

[1, 2, 100, 4, 's', 'u', 'sunil']

In [40]:
a.insert(2,'reddy') # adding element at specific index 
a

[1, 2, 'reddy', 100, 4, 's', 'u', 'sunil']

In [41]:
a=[1,2,3,4,5,'s']
b=['u','n','i','l']
a.extend(b)              # adding two list   
a

[1, 2, 3, 4, 5, 's', 'u', 'n', 'i', 'l']

removing of list

In [42]:
b=['u','n','i','l']
b.pop()                         # removes last item
b

['u', 'n', 'i']

In [43]:
b=['u','n','i','l']
b.pop(1)                         # removes item at index position 1.
b

['u', 'i', 'l']

In [44]:
b=['u','n','i','l']
del b              # list id deleted
b

NameError: name 'b' is not defined

In [45]:
b=[1,2,3,'a','s']
b.clear()    # list is not deleted, but elements are deleted.
b

[]

looping in list

In [46]:
b=[1,2,3,'a','s']
for x in b:        # for loop
    print(x)

1
2
3
a
s

In [47]:
b=[1,2,3,'a','s']
for x in range(len(b)):
    print(b[x])

1
2
3
a
s

In [50]:
b=[1,2,3,4,'s','r','i','n','u']
i = 0
while i < len(b):                  # while loop
  print(b[i])
  i = i + 1

1
2
3
4
s
r
i
n
u

sorting

In [57]:
b=[19,12,33,4]
b.sort()
b

[4, 12, 19, 33]

In [58]:
b=['s','r','i','n','u']
b.sort()
b

['i', 'n', 'r', 's', 'u']

copy

In [60]:
a=[19,12,33,4]
b=a.copy()
b

[19, 12, 33, 4]

## removing duplicates in list

In [102]:
b=['s','r','i','n','u','s','u','n','i','l']
mylist=list(dict.fromkeys(b))
mylist

['s', 'r', 'i', 'n', 'u', 'l']

compare two list

In [17]:
import collections

a=[19,12,33,4]
b=[19,12,33,4]

if collections.Counter(a)==collections.Counter(b):
    print('two lists are equal')
else:
    print('not equal')

two lists are equal

length of list

In [18]:
len(a)

4

maximum of list

In [19]:
max(a)

33

minimum of list

In [20]:
min(a)

4

to get the index of an item

In [23]:
a.index(33)

2

sum of elements in a list

In [41]:
a=[100,200,300,400,0,500]
numbers=tuple(a)

sum=0
for num in numbers:
    sum=sum+num  
print(numbers)
print(sum)

(100, 200, 300, 400, 0, 500)
1500

## TUPLES

In [61]:
a=(1,2,3,4,'s','u','n','i','l')
a

(1, 2, 3, 4, 's', 'u', 'n', 'i', 'l')

In [62]:
a[3]

4

In [65]:
b=list(a) # changing tuple to list.
b

[1, 2, 3, 4, 's', 'u', 'n', 'i', 'l']

In [67]:
b[3]=400     # changing tuple value
b

[1, 2, 3, 400, 's', 'u', 'n', 'i', 'l']

In [68]:
a=tuple(b)    # changiong list to tuple
a

(1, 2, 3, 400, 's', 'u', 'n', 'i', 'l')

adding

In [69]:
a

(1, 2, 3, 400, 's', 'u', 'n', 'i', 'l')

In [72]:
b=list(a)
b.append('reddy')
a=tuple(b)
a

(1, 2, 3, 400, 's', 'u', 'n', 'i', 'l', 'reddy')

In [75]:
a=(1,2,3,4,5)
b=('s','u','n','i','l')
c=list(a)
d=list(b)
e=c+d
f=tuple(e)
print(c)
print(d)
print(f)

[1, 2, 3, 4, 5]
['s', 'u', 'n', 'i', 'l']
(1, 2, 3, 4, 5, 's', 'u', 'n', 'i', 'l')

removing

In [77]:
a=(1,2,3,4,5)
b=list(a)
b.pop()
a=tuple(b)
a

(1, 2, 3, 4)

## SETS

In [81]:
a={1,2,3,'s','u','n','i','l'}
a

{1, 2, 3, 'i', 'l', 'n', 's', 'u'}

accessing using for loop or in

In [84]:
for x in a:
    print(x)

1
2
3
i
l
n
s
u

In [86]:
a={1,2,3,'s','u','n','i','l'}
print('s' in a)

True

adding

In [89]:
a={1,2,3,'s','u','n','i','l'}
a.add('reddy')
a

{1, 2, 3, 'i', 'l', 'n', 'reddy', 's', 'u'}

In [92]:
a={1,2,3,'s','u','n','i','l'}
b={100,200,'sss'}
a.update(b)
a

{1, 100, 2, 200, 3, 'i', 'l', 'n', 's', 'sss', 'u'}

deleting

In [96]:
b={100,200,'sss'}
b.pop()               # unordered..so dont know which item is going to be deleted.
b

{100, 'sss'}

In [97]:
a={1,2,3,'s','u','n','i','l'}
a.remove('s')
a

{1, 2, 3, 'i', 'l', 'n', 'u'}

## DICTIONARIES

In [119]:
a={'name':'Sunil',
  'age':34,
  'mobile':7995542002}
print(a,type(a))

{'name': 'Sunil', 'age': 34, 'mobile': 7995542002} <class 'dict'>

In [120]:
x=a['name']
x

'Sunil'

In [121]:
a.keys()

dict_keys(['name', 'age', 'mobile'])

In [122]:
a.values()

dict_values(['Sunil', 34, 7995542002])

changing items

In [123]:
a

{'name': 'Sunil', 'age': 34, 'mobile': 7995542002}

In [124]:
a.update({'name':'Anil'})
a

{'name': 'Anil', 'age': 34, 'mobile': 7995542002}

adding

In [125]:
a['gender']='male'
a

{'name': 'Anil', 'age': 34, 'mobile': 7995542002, 'gender': 'male'}

In [126]:
a.pop('age')
a

{'name': 'Anil', 'mobile': 7995542002, 'gender': 'male'}

In [127]:
a

{'name': 'Anil', 'mobile': 7995542002, 'gender': 'male'}

In [128]:
b=a.copy()
b

{'name': 'Anil', 'mobile': 7995542002, 'gender': 'male'}

adding items

In [133]:
a=[1,2,3]
b=['s','u','n']
a.extend(b)
a

[1, 2, 3, 's', 'u', 'n']

In [137]:
a={1,2,3}
b={'s','u','n'}
a.update(b)
a

{1, 2, 3, 'n', 's', 'u'}

In [139]:
a={'name':'Sunil',
  'age':34,
  'mobile':7995542002}
a['sex']='m'
a

{'name': 'Sunil', 'age': 34, 'mobile': 7995542002, 'sex': 'm'}

In [141]:
a=[1,2,3,4]
b=['w','e','l']
a.extend(b)
a

[1, 2, 3, 4, 'w', 'e', 'l']

## CONDITIONAL STMNTS:

In [142]:
a=int(input('enter a value'))
b=int(input('enter b value'))
if a>b:
    print('a is greater than b')
elif a<b:
    print('b is greater than a')
else:
    print('b is equals to a')

enter a value2
enter b value4
b is greater than a

nested if else

In [144]:
a=int(input('enter a value'))
if a>10:
    print('a>10')
    if a>20:
        print('a>20')
    else:
        print('a<20')
else:
    print('a<10')

enter a value3
a<10

## CONDITIONAL STMNTS

### factorial

In [149]:
n=int(input('enter a number'))
factorial=1
while(n>1):
        factorial=factorial*n
        n=n-1
print(factorial)

enter a number5
120

## prime number or not

In [153]:
n=int(input('enter a number'))
if n>1:
    for j in range(2,n):
        if n%2==0:
            print('not a prime number')
            break
    else:
        print('prime number')
else:
    print('not a prime number')

enter a number6
not a prime number

In [158]:
n=int(input('enter a number'))
for i in range(1,n):
    if i==2:
        continue
    print(i)

enter a number8
1
3
4
5
6
7

In [165]:
def function():
    pass

# Functions

arbitary arguments

In [160]:
def function(*kids):
    print('the youngest child is:',kids[1])
function('sunil','ram','suresh','forest')

the youngest child is: ram

keyword arguments

In [163]:
def function(child1,child2,child3):
    print('the youngest child is :',child1)
function(child1='r',child2='s',child3='u')

the youngest child is : r

recursive function

In [5]:
def factorial(x):
    if x==1:
        return 1
    else:
        return (x*factorial(x-1))
num=3
print('the factorial of num is',factorial(num))

the factorial of num is 6

## LAMBDA FUNCTIONS

In [170]:
x=lambda a,b:a+b
print(x(2,4))

6

In [171]:
x=lambda a,b,c:a+b*c
print(x(2,3,4))

14

## CLASS AND OBJECT

In [42]:
class person:
    def __init__(self):
        print('constructor')
        
A=person()

constructor

using constructor , initialising objects

In [76]:
class Person:
    def __init__(self,c,h):
        self.color=c
        self.height=h

s1=Person("white",5.11)
print(s1.color,s1.height)

white 5.11

for constructor, using methods with the help of self

In [74]:
class Human:
    def __init__(self,c,h):
        self.color=c
        self.height=h
    def run(self,n):
            print( "n+' '+running")
sandeep=Human("white",5.11)
print(sandeep.color,sandeep.height) 
sandeep.run('sandeep')

white 5.11
n+' '+running

In [9]:
class Student:
    sno=123
    sname='sunil'
    sage=21
    def read(self):
        print('reading')
    def write(self):
        print('writting')
s1=Student()
print(s1.sname)
s1.write()

sunil
writting

In [11]:
class Student:
    sno=123
    sname='sunil'
    def read(self):
        sno=345
        print('static variable =',self.sno)
        print('instance variable =',sno)
        print('reading')
    def write(self):
        sname='Anil'
        print('static variable=',self.sname)
        print('instance variable =',sname)
        print('writting')
s1=Student()
print(s1.sno)
s1.read()
s1.write()

123
static variable = 123
instance variable = 345
reading
static variable= sunil
instance variable = Anil
writting

# INHERITANCE

single level

In [12]:
class Parents:
    def display(self):
        print('Parents')
class Child(Parents):
    def show(self):
        print('Child')
s1=Child()
s1.show()
s1.display()

Child
Parents

multi level inheritance

In [14]:
class Grandparents:
    def gddisplay(self):
        print('grand parents')
class Parents(Grandparents):
    def pdisplay(self):
        print('parents')
class Child(Parents):
    def cdisplay(self):
        print('Child')
s1=Child()
s1.gddisplay()
s1.cdisplay()
s1.pdisplay()

grand parents
Child
parents

hierarchial

In [82]:
class Parent:
    def pdisplay(self):
        print('parent class')
class Son(Parent):
    def sdisplay(self):
        print('son class')
class Daughter(Parent):
    def ddisplay(self):
        print('daughter class')
s1=Son()
s1.sdisplay()
s1.pdisplay()

s2=Daughter()
s2.ddisplay()

son class
parent class
daughter class

multiple inheritance

In [84]:
class Father:
    def fdisplay(self):
        print('Father class')
class Mother:
    def mdisplay(self):
        print('mother class')
class Child(Father, Mother):
    def cdisplay(self):
        print('Child class')
s1=Child()
s1.cdisplay()
s1.fdisplay()
s1.mdisplay()

Child class
Father class
mother class

## ENCAPSULATION

public variable

In [15]:
class Student:
    sno=123
    def read(self):
        print('reading')
s1=Student()
print(s1.sno)
s1.read()

123
reading

private

In [16]:
class student:
    __sno=123
    sname='Sunil'
    def read(self):
        print('reading')
s1=student()
print(s1.sno)
s1.read()

AttributeError: 'student' object has no attribute 'sno'

private variable accessing through self

In [20]:
class student:
    __sno=123
    sname='Sunil'
    def read(self):
        print(self.__sno)
        print('reading')
s1=student()
s1.read()

123
reading

private method accessing through another function help().

In [24]:
class Student:
    sno=123
    def __read(self):
        print('reading')
    def help(self):
        self.__read()
s1=Student()
s1.help()

reading

## POLYMORPHISM:

method overloading

In [30]:
class Methodoverloading:
    def display(self,a=None,b=None):
        print(a,b)
s1=Methodoverloading()
s1.display()
s1.display(2)
s1.display(21,3)

None None
2 None
21 3

method override

In [27]:
class father:
    def Transportation(self):
        print('Cycle')
class son(father):
    def Transportation(self):
        print('Bike')
s1=son()
s1.Transportation()

Bike

## EXCEPTION HANDLING

1.SYNTAX ERRORS ( COMPILE TIME ERRORS)

In [86]:
print('hello world)

SyntaxError: EOL while scanning string literal (<ipython-input-86-1594d846fa63>, line 1)

2.LOGICAL ERRORS

In [87]:
a=10
b=20
c=a-b
print('sum of a and b is :', c)

sum of a and b is : -10

3.RUN TIME ERRORS

In [88]:
a=int(input('enter a value'))
b=int(input('enter b value'))
c=(a/b)
print(c)

enter a value2
enter b value0

ZeroDivisionError: division by zero

In [89]:
a=int(input('enter a value'))
b=int(input('enter b value'))
try:
    c=a/b
except ZeroDivisionError:
    print('Zero division error')
else:
    print('No Exception')
finally:
    print('finally executes here')

enter a value3
enter b value0
Zero division error
finally executes here

In [15]:
from abc import ABC, abstractmethod
class AbstractDemo(ABC):
    @abstractmethod
    def display(self):
        None
class Demo(AbstractDemo):
    def display(self):
        print('abstract method')
object=AbstractDemo()
object.display()

TypeError: Can't instantiate abstract class AbstractDemo with abstract methods display

In [16]:
from abc import ABC, abstractmethod
class AbstractDemo(ABC):
    @abstractmethod
    def display(self):
        None
class Demo(AbstractDemo):
    def display(self):
        print('abstract method')
object=Demo()
object.display()

abstract method

concrete class should overwrite all the methods of abstract class.

In [25]:
from abc import ABC, abstractmethod
class AbstractDemo(ABC):
    @abstractmethod
    def display(self):
        None
    @abstractmethod
    def show(self):
        None

class Demo(AbstractDemo):
    def display(self):
        print('abstract method')  
    def show(self):
        print('show method')

object=Demo()
object.display()

abstract method

in the below demo concrete class, we dont have 2abstract methods. we have to write all the methods.

In [26]:
from abc import ABC, abstractmethod
class AbstractDemo(ABC):
    @abstractmethod
    def display(self):
        None
    @abstractmethod
    def show(self):
        None

class Demo(AbstractDemo):
    def display(self):
        print('abstract method')  
class Demo1(AbstractDemo):
    def show(self):
        print('show method')

object=Demo()
object.display()

TypeError: Can't instantiate abstract class Demo with abstract methods show

## FILE HANDLING

1. OPENING A FILE

In [99]:
f=open('C:/Users/SUNIL REDDY/Desktop/NSIC/demofile.txt')
f

2.READING A FILE

In [104]:
f=open('demofile.txt','r')
f

3. WRITTING A FILE AND CLOSING IT

In [107]:
f=open('demofile.txt', 'w')
f.write('hello, i am sunil')
f.close()

In [110]:
f=open('demofile.txt','r')
f

4.APPENDING A FILE

In [112]:
f=open('demofile.txt','a')
f.write('i am anil')
f.close()

In [116]:
f=open('demofile.txt','r')
f

# ITERATORS

In [4]:
list=[1,2,3,4]
myiter=iter(list)

In [8]:
print(myiter)

<list_iterator object at 0x0000018CE31F84F0>

In [5]:
print(next(myiter))

1

In [6]:
print(next(myiter))

2

In [7]:
print(next(myiter))

3

In [11]:
print(myiter.__next__())

4

In [12]:
print(myiter.__next__())

StopIteration: